@{
    ViewBag.Title = "Search Employees";
}
<div class="view_home container" data-load-event="a.setupSearch">
    <h1 class="page_title">@ViewBag.Title <input class="view_searchemployee_input form-control-lg" placeholder="Search" data-keyup-event="a.searchEmployeeKeyup"/></h1>
    <div class="centered">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td style="text-align:center;"><i class="fa fa-gears"></i></td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>