@{
    ViewBag.Title = "Details";
}
<div class="view_home container" data-load-event="a.populatePersonDetails">
    <h1 class="page_title">@ViewBag.Title</h1>
    <div class="centered">
        <div class="people-info">
            <div class="employee-info">
                <h3>Employee</h3>
            </div>
            <div class="dependant-info">
                <h3>Dependant</h3>
            </div>
        </div>
        <div class="pay-details">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>