@{
    ViewBag.Title = "Add Employee";
}
<div class="view_home container">
    <h1 class="page_title">@ViewBag.Title</h1>
    <div class="centered">
        <div class="form_container">
            <input class="form-control-lg add_emp_input add_emp_fname" placeholder="First Name" /><br>
            <input class="form-control-lg add_emp_input add_emp_lname" placeholder="Last Name" /><br>
            <input class="form-control-lg add_emp_input add_emp_email" placeholder="Email" /><br>
            <input class="form-control-lg add_emp_input add_emp_phone" placeholder="Phone" /><br>
            <input class="form-control-lg add_emp_input add_emp_ssn" placeholder="SSN" /><br>
            <input class="form-control-lg add_emp_input add_emp_address1" placeholder="Address" /><br>
            <input class="form-control-lg add_emp_input add_emp_address2" /><br>
            <input class="form-control-lg add_emp_input add_emp_addresscity" placeholder="City" /><br>
            <input class="form-control-lg add_emp_input add_emp_addressstate" placeholder="State" /><br>
            <input class="form-control-lg add_emp_input add_emp_addresszip" placeholder="Zip" /><br>
            <button class="btn btn-lg btn-success fa fa-save" data-click-event="a.saveEmployee"></button>
        </div>
    </div>
</div>