@{
    ViewBag.Title = "Main Menu";
}
<div class="view_home container">
    <h1 class="page_title">@ViewBag.Title</h1>
    <div class="centered">
        <div class="menu_bubble" data-click-event="a.getAddEmployee">Add<br>Employee</div>
        <div class="menu_bubble" data-click-event="a.getSearchEmployee">Search<br>Employees</div>
        @*<div class="menu_bubble" data-click-event="a.getAddDepentant">Add<br>Dependant</div>*@
        <div class="menu_bubble" data-click-event="a.getSearchDependant">Search<br>Dependants</div>
    </div>
</div>