@{
    ViewBag.Title = "Search Dependants";
}
<div class="view_home container" data-load-event="a.setupSearch">
    <h1 class="page_title">@ViewBag.Title <input class="view_searchdependant_input form-control-lg" placeholder="Search" data-keyup-event="a.searchDependantKeyup" /></h1>
    <div class="centered">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>